html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Noto Sans JP", Meiryo, メイリオ, Verdana, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
    font-weight: 400;
    color: #2a2a2a;
    text-size-adjust: 180%;
    -webkit-text-size-adjust: 180%;
}

h2 {
    margin: 0px;
}

a {
    text-decoration: none;
}

label {
    display: inline-block;
}

.outer {
    margin: 20px;
}

.list {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.6;
}

.form {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
}

.container {
    display: flex;
}

.left {
    flex: 0.7;
    background-color: #f7f7f7;
    padding: 1.7vh;
    max-height: 95vh;
    overflow-y: scroll;
}

.right {
    flex: 1;
    background-color: #e7e7e7;
    padding: 1.7vh;
    max-height: 95vh;
    overflow-y: scroll;
}

.clicked {
    font-weight: 600;
    cursor: pointer;
}

.search-box {
    padding: 4px;
    /* width: 300px; */
}

ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    white-space: nowrap;
    min-width: 5em;
}

.article-title {
    color: #2a2a2a;
    font-weight: 500;
}

.article-letter {
    font-weight: 600;
}

.article-date {
    color: #787871;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 4px;
    margin-right: 4px;
}

.article-speaker {
    color: #2a2a2a;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
}

.not-selected {
    color: #787871;
}

.name-search {
    white-space: nowrap;
}

.name {
    white-space: nowrap;
}

.floating-element {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #f7f7f7;
    font-size: 12px;
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}

.floating-platform {
    position: fixed;
    top: 15px;
    right: 25px;
    background-color: #f7f7f7;
    z-index: 1000;
    font-size: 12px;
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.button-container span {
    cursor: pointer;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.2;
    user-select: none;
}

.padded-text {
    white-space: pre;
    font-family: monospace;
}

.reset-link {
    color: #2a2a2a;
    font-weight: 400;    
}

.flatpickr-months .flatpickr-month {
    height: 50px; /*モバイル対応*/
}
