html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Noto Sans JP", Meiryo, メイリオ, Verdana, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
    font-weight: 100;
    text-size-adjust: 180%;
}

h2 {
    margin: 0px;
}

.outer {
    margin: 20px;
}

.list {
    font-size: 13px;
    font-size: 1.3rem;
}

.container {
    display: flex;
}

.left {
    flex: 1.5;
    background-color: #f0f0f0;
    padding: 1.7vh;
    max-height: 95vh;
    overflow-y: scroll;
}

.right {
    flex: 1;
    background-color: #e0e0e0;
    padding: 1.7vh;
    max-height: 95vh;
    overflow-y: scroll;
}

.clicked {
    font-weight: bold;
    cursor: pointer;
}

.search-box {
    padding: 4px;
    width: 300px;
}

ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}